
# requirements.txt (Corrected and Pinned)

# For Telegram
pyrogram==2.0.106
tgcrypto==1.2.5

# For MongoDB Database (Pinned to compatible versions)
pymongo[srv]==4.8.0
motor==3.5.0

# For Database Object Modeling
umongo==3.1.0
marshmallow==3.21.2

git+https://github.com/Joelkb/cinemagoer

# Other utilities
aiohttp==3.9.5
requests==2.32.3
pytz
beautifulsoup4
